@using MudBlazor
@using TheWeatherApp.Services
@using TheWeatherApp.Shared
@inject IDialogService DialogService
@inject CacheService CacheService

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (await CacheService.HasCachedState())
        {
            var parameters = new DialogParameters();
            var options = new DialogOptions();
            await DialogService.ShowAsync<CacheRestoreDialog>("", parameters, options);
        }
    }
}
